@use 'sass:map';
@use '@/shared/styles/design-system' as ds;

.alert {
  position: relative;
  display: grid;
  grid-template-columns: 0 1fr;
  width: 100%;
  align-items: flex-start;
  row-gap: 2px;
  border: 1px solid ds.color(border-default);
  border-radius: ds.radius(md);
  padding: ds.spacing(3) ds.spacing(4);
  font-family: ds.$font-primary;
  font-size: map.get(ds.$font-size, sm);
  line-height: map.get(ds.$line-height, normal);

  &:has(> svg) {
    grid-template-columns: 16px 1fr;
    column-gap: ds.spacing(3);
  }

  > svg {
    width: 16px;
    height: 16px;
    color: currentColor;
    transform: translateY(2px);
  }
}

.default {
  background: ds.color(surface-default);
  color: ds.color(text-primary);
}

.destructive {
  border-color: rgba(255, 71, 87, 0.3);
  background: rgba(255, 71, 87, 0.08);
  color: ds.color(error);

  [data-slot='alert-description'] {
    color: ds.color(text-secondary);
  }
}

.title {
  grid-column-start: 2;
  min-height: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-weight: map.get(ds.$font-weight, semibold);
}

.description {
  display: grid;
  grid-column-start: 2;
  justify-items: flex-start;
  gap: ds.spacing(1);
  color: ds.color(text-secondary);
  font-size: map.get(ds.$font-size, sm);
  line-height: map.get(ds.$line-height, normal);

  p {
    line-height: map.get(ds.$line-height, relaxed);
  }
}
