.progress {
  position: relative;
  width: 100%;
  height: 0.5rem;
  overflow: hidden;
  border-radius: 9999px;
  background-color: color-mix(in oklch, var(--primary) 20%, transparent);
}

.indicator {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: var(--primary);
  transition: all 150ms ease;
}
