.kbd {
  display: inline-flex;
  width: fit-content;
  min-width: 1.25rem;
  height: 1.25rem;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: var(--radius-sm);
  background-color: var(--muted);
  padding-inline: 0.25rem;
  color: var(--muted-foreground);
  font-family: var(--font-sans);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  pointer-events: none;
  user-select: none;

  svg:not([class*='size-']) {
    width: 0.75rem;
    height: 0.75rem;
  }

  :global([data-slot='tooltip-content']) & {
    background-color: color-mix(in oklch, var(--background) 20%, transparent);
    color: var(--background);
  }

  :global(.dark [data-slot='tooltip-content']) & {
    background-color: color-mix(in oklch, var(--background) 10%, transparent);
  }
}

.group {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
