@use 'sass:map';
@use '@/shared/styles/design-system' as ds;

.overlay {
  position: fixed;
  inset: 0;
  z-index: ds.z(modal-backdrop);
  background: ds.color(overlay-medium);
  backdrop-filter: blur(4px);

  &[data-state='open'] {
    animation: fade-in 200ms ease-out;
  }
  &[data-state='closed'] {
    animation: fade-out 200ms ease-in;
  }
}

.content {
  position: fixed;
  z-index: ds.z(modal);
  display: flex;
  height: auto;
  flex-direction: column;
  background: ds.color(background-elevated);
  color: ds.color(text-primary);
  box-shadow: ds.shadow(xl);

  &[data-vaul-drawer-direction='top'] {
    inset-inline: 0;
    top: 0;
    max-height: 80vh;
    margin-bottom: ds.spacing(24);
    border-bottom: 1px solid ds.color(border-default);
    border-bottom-right-radius: ds.radius(lg);
    border-bottom-left-radius: ds.radius(lg);
  }

  &[data-vaul-drawer-direction='bottom'] {
    inset-inline: 0;
    bottom: 0;
    max-height: 80vh;
    margin-top: ds.spacing(24);
    border-top: 1px solid ds.color(border-default);
    border-top-left-radius: ds.radius(lg);
    border-top-right-radius: ds.radius(lg);
  }

  &[data-vaul-drawer-direction='right'] {
    inset-block: 0;
    right: 0;
    width: 75%;
    border-left: 1px solid ds.color(border-default);

    @media (min-width: 40rem) {
      max-width: 384px;
    }
  }

  &[data-vaul-drawer-direction='left'] {
    inset-block: 0;
    left: 0;
    width: 75%;
    border-right: 1px solid ds.color(border-default);

    @media (min-width: 40rem) {
      max-width: 384px;
    }
  }
}

.handle {
  display: none;
  width: 100px;
  height: 8px;
  flex-shrink: 0;
  margin: ds.spacing(4) auto 0;
  border-radius: ds.radius(full);
  background: ds.color(border-hover);

  .content[data-vaul-drawer-direction='bottom'] & {
    display: block;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: ds.spacing(1);
  padding: ds.spacing(4);

  .content[data-vaul-drawer-direction='bottom'] &,
  .content[data-vaul-drawer-direction='top'] & {
    text-align: center;
  }

  @media (min-width: 48rem) {
    gap: ds.spacing(2);
    text-align: left;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: ds.spacing(2);
  margin-top: auto;
  padding: ds.spacing(4);
}

.title {
  color: ds.color(text-primary);
  font-weight: map.get(ds.$font-weight, semibold);
}

.description {
  color: ds.color(text-secondary);
  font-size: map.get(ds.$font-size, sm);
  line-height: map.get(ds.$line-height, normal);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
