@use 'sass:map';
@use '@/shared/styles/design-system' as ds;

.content {
  z-index: ds.z(tooltip);
  width: fit-content;
  transform-origin: var(--radix-tooltip-content-transform-origin);
  border: 1px solid ds.color(border-hover);
  border-radius: ds.radius(base);
  background: ds.color(background-elevated);
  padding: ds.spacing(2) ds.spacing(3);
  color: ds.color(text-primary);
  font-family: ds.$font-primary;
  font-size: map.get(ds.$font-size, xs);
  line-height: map.get(ds.$line-height, normal);
  box-shadow: ds.shadow(md);
  text-wrap: balance;
  animation: tooltip-in 150ms ease-out;

  &[data-state='closed'] {
    animation: tooltip-out 150ms ease-in;
  }
}

.arrow {
  z-index: ds.z(tooltip);
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: ds.color(background-elevated);
  fill: ds.color(background-elevated);
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
}

@keyframes tooltip-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes tooltip-out {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
